.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    padding: 20px 40px;
    border-bottom: 2px solid var(--white);
}

.header h1 {
    color: var(--white);
    font-size: 30px;
    margin-right: 40px;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header-buttons a {
    margin: 0 10px;
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.header-buttons a:hover {
    color: var(--orange);
    scale: 1.05;
}