@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --orange: rgb(255, 100, 0);
    --light-orange: rgb(255, 150, 0);
    --black: #000000;
    --dark-gray: #222222;
    --white: #ffffff;
    --light-gray: #aaaaaa;

    --extra-bold: 600;
    --bold: 500;
    --regular: 400;
    --light: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: var(--white);
    font-size: 20px;
    font-weight: var(--regular);
    color: var(--white);
}

body {
    background-color: var(--black);
}

@keyframes gradientText {
    0% {
        background-position: 300% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}